@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lexend-tera: "Lexend Tera";
  --btn-text: Montserrat;
  --font-roboto: Roboto;
  --font-outfit: Outfit;
  --font-poppins: Poppins;
  --body-default: "DM Sans";
  --font-manrope: Manrope;

  /* font sizes */
  --font-size-xl: 20px;
  --btn-text-size: 14px;
  --font-size-mini: 15px;
  --h3-size: 24px;
  --h1-size: 58px;
  --font-size-21xl: 40px;
  --h5-size: 16px;
  --font-size-13xl: 32px;
  --body-default-size: 18px;
  --font-size-base-4: 16.4px;
  --font-size-5xl-6: 24.6px;
  --font-size-smi-3: 12.3px;
  --font-size-xl-5: 20.5px;
  --font-size-base-3: 15.3px;
  --font-size-2xs-9: 10.9px;
  --font-size-lg-4: 18.4px;

  /* Colors */
  --light-background-color: #fff;
  --color-darkturquoise-100: #4ec5d3;
  --color-darkturquoise-200: #25b7c8;
  --color-black: #000;
  --color-powderblue: #92dce5;
  --secondary-color-2: #3c403d;
  --text-color: #252b42;
  --second-text-color: #737373;
  --color-dimgray-100: #555;
  --color-whitesmoke-100: #f9f9f9;
  --light-gray-2: #ececec;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #ddd;
  --color-teal: #007e85;
  --color-gray-100: #fafafa;
  --color-gray-200: #2b2b36;
  --dmv-black: #23262f;
  --color-gray-300: #0d0d0d;
  --color-gray-400: rgba(0, 0, 0, 0.5);
  --color-red: #ff0000;
  --color-darkcyan-100: #128983;
  --color-darkcyan-200: rgba(18, 137, 131, 0.6);
  --color-darkcyan-300: rgba(18, 137, 131, 0.25);
  --color-deeppink-100: #f62088;
  --color-deeppink-200: rgba(246, 32, 136, 0.15);
  --color-blue-100: rgba(0, 0, 255, 0.6);
  --container-1: #f8f9ff;

  /* Gaps */
  --gap-7xl: 26px;

  /* Paddings */
  --padding-smi: 13px;
  --padding-21xl: 40px;
  --padding-mini: 15px;
  --padding-3xs: 10px;
  --padding-8xs-4: 4.4px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-5xl: 24px;
  --br-3981xl: 4000px;
  --br-11xl: 30px;
  --br-base-4: 16.4px;
  --br-25xl-6: 44.6px;
  --br-4xs-2: 8.2px;
}
